
@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-slate-100 {
    background-color: rgb(241, 245, 249);
}

.min-h-screen {
    min-height: 100vh;
}

.bg-no-repeat {
    background-repeat: no-repeat;
}

.table {
    @apply text-left text-gray-700 bg-white border-collapse;
}

.table thead {
    @apply border-b bg-blue-50 rounded-md;
}

.table th,
.table td {
    @apply py-3 px-3;
}

.table.table-full {
    @apply w-full;
}

.table.table-sm {
    @apply text-sm;
}

.table tr:not(:last-of-type) {
    @apply border-b;
}

.-rotate-90 {
    --tw-rotate: -90deg;
    transform: rotate(var(--tw-rotate));
}

.rotate-90 {
    --tw-rotate: 90deg;
    transform: rotate(var(--tw-rotate));
}

th {
    text-align: left;
}

/*:root {*/
/*  --bg-color-start: #71e69c;*/
/*  --bg-color-stop: #09351a;*/
/*}*/

/*.bg-color-start {*/
/*  transition: 0.4s ease;*/
/*  stop-color: var(--bg-color-start);*/
/*}*/

/*.bg-color-stop {*/
/*  transition: 0.4s ease;*/
/*  stop-color: var(--bg-color-stop);*/
/*}*/

/*body {*/
/*  font-family:*/
/*    BlinkMacSystemFont,*/
/*    -apple-system,*/
/*    Segoe UI,*/
/*    Roboto,*/
/*    Oxygen,*/
/*    Ubuntu,*/
/*    Cantarell,*/
/*    Fira Sans,*/
/*    Droid Sans,*/
/*    Helvetica Neue,*/
/*    Helvetica,*/
/*    Arial,*/
/*    sans-serif;*/
/*}*/
